@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 16px;
  color: #333;
  font-weight: 400;
}

.rectangleBox::before {
  position: relative;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #9f9a91;
  border-radius: 5px;
  margin-right: 16px;
}

.vectorCross:hover::after {
  position: absolute;
  content: "";
  background-image: url("./images/btn/vectorCross.png");
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  margin-top: 4px;
}

.vectorChecked::before {
  position: relative;
  content: "";
  background-image: url("./images/btn/vectorChecked.png");
  background-repeat: no-repeat;
  display: block;
  width: 18px;
  height: 18px;
  margin-top: 2px;
  margin-right: 18px;
}

input {
  outline: none;
}
